<!DOCTYPE html>
<html lang="en">

<head>

  <!--  This is the Handlebars template for the Admin page 
    - The page displays the current list of logs returned by server.js
    - The user can clear the log by first setting up an admin key
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Desenhos Gravados</title>

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <div class="wrapper">
    <div class="content" role="main">

      <!-- This is the start of content for our page -->
      <h1>Lista dos desenhos submetidos (max 20)</h1>
      {{#if error}}
        <p class="error"> {{error}} </p>
      {{else}}

      <!-- The server script returns the logs in an array -->
      <!-- Write out a table row for each entry in the log array showing choice and timestamp -->
      {{#if optionHistory.length}}
          <div>
            <h2>Escolhas de desenhos Base</h2>
            <table>
              <tr>
                <th>Timestamp</th>
              </tr>
              {{#each optionHistory}}
                <tr>
                  <td>{{time}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
      {{else}}
        <p class="error">Sem desenhos!</p>
      {{/if}}

      <!-- The user can clear the logs if they first set up an admin key in the env -->
      <form action="/reset" method="post">
        <h2>Limpar a lista de desenhos disponíveis</h2>
        <p><em>Introduza a password de Administração:</em></p>
        
        <!-- Server returns a failed flag if the submitted key doesn't match -->
        {{#if failed}}
          <p class="error"> {{failed}} </p>
        {{/if}}
          <input type="password" id="pass" name="key" required>
          <button type="submit">Eliminar lista de desenhos base</button>
      </form> 
      {{/if}}
    </div>
  </div>
  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
    <div class="links">
      <a href="/">Desenhar de novo</a>
      <span class="divider">|</span>
      <a href="/logs">Admin</a>
    </div>
  </footer>
</body>

</html>
