<!DOCTYPE html>
<html lang="pt">

<head>

  <!--  This is the Handlebars template for the Admin page 
    - The page displays the current list of logs returned by server.js
    - The user can clear the log by first setting up an admin key
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Desenhos Gravados</title>

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <div class="links">
    <a href="/">Desenhar</a>
    <span class="divider">|</span>
    <a href="/logs">Admin</a>
  </div>

</head>

<body>
  <div class="wrapper">
    <div class="content" ="main">

      <!-- This is the start of content for our page -->
      <h1>Administração dos desenhos memorizados</h1>
      {{#if error}}
        <p class="error"> {{error}} </p>
      {{else}}

      <!-- The server script returns the logs in an array -->
      <!-- Write out a table row for each entry in the log 
           array showing choice and timestamp -->
      {{#if logHistory.length}}
          <div>
            <h2>Lista de desenhos memorizados</h2>
            <table>
              <tr>
                <th>Timestamps dos logs</th>
              </tr>
              {{#each logHistory}}
                <tr>
                  <td>{{time}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
      {{else}}
        <p class="error">Sem desenhos!</p>
      {{/if}}

      <!-- The user can clear the logs if they first set up an admin key in the env -->
      <form action="/reset" method="post">        
        <!-- Server returns a failed flag if the submitted key doesn't match -->
        {{#if failed}}
          <p class="error"> {{failed}} </p>
        {{/if}}
        <p><em>Introduza a password de Administração para eliminar os desenhos memorizados</em></p>
        <input type="password" id="pass" name="key" required>
        <button type="submit">Limpar a lista de desenhos memorizados</button>
      </form> 

      {{/if}} <!-- Not error -->
      
    </div>
  </div>

</body>

</html>
